/* -------------------
--------ALL DOC--------
------------------- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
}

/* -------------------
--------HEADER--------
------------------- */

header {
  border-bottom: 2px solid #e5e5e5;
}
.header {
  display: flex;
  gap: 65px;
  align-items: center;
  margin: 60px 111px;
  /* padding-bottom: 60px; */
}

header > img {
  height: 80px;
}

/* -------------------
--------SWITCH--------
------------------- */
/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 445px;
  height: 70vh;
}
/* ON */
.switchOn {
  display: flex;
  gap: 70px;
  margin: 10px 10px;
}

.switchOn span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  width: 120px;
  height: 70px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.switchOn span:first-child {
  background-color: #5c48d3;
  color: white;
}

.switchOn span:last-child {
  color: #5c48d3;
}

.switchOn span:last-child:hover {
  color: #5c48d3;
  background-color: #ececec;
}

/* OFF */
.switchOff {
  display: flex;
  gap: 70px;
  margin: 10px 10px;
}

.switchOff span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  width: 120px;
  height: 70px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.switchOff span:first-child {
  color: #5c48d3;
}

.switchOff span:first-child:hover {
  color: #5c48d3;
  background-color: #ececec;
}

.switchOff span:last-child {
  background-color: #5c48d3;
  color: white;
}

/* -------------------
--------RESET--------
------------------- */
.resetButton {
  margin: 20px 10px;
  color: #5c48d3;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
  width: calc(100%-20px);
  height: 70px;
  border-radius: 6px;
  border: 1px solid lightgray;
}
.resetButton:hover {
  background-color: #5c48d3;
  color: white;
}

/* -------------------
--------ALERT--------
------------------- */

.result {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 145px;
  border-radius: 6px;
  color: white;
  font-size: 48px;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}

/* -------------------
--------FOOTER--------
------------------- */
footer p {
  text-align: center;
}

.bold {
  font-weight: bold;
}
